.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

/*TODO: 나중에*/
.blurred-circle {
    width: 200px;
    height: 200px;
    background-color: #8c7c59;
    border-radius: 50%;
    filter: blur(20px);
}
